# Core Streamlit App
streamlit
pandas
numpy
python-dotenv
openai
plotly
langchain-astradb
astrapy
# Core RAG & Logic 
langchain
langchain-huggingface
langchain-experimental
transformers
sentence-transformers
biopython
chromadb
rank_bm25
spacy
ragas
tqdm

# visualization and support
matplotlib
seaborn
scipy

# base 
jupyter
ipykernel